[Unit]
Description=Hodr Service
After=dbus.service network.target

[Service]
Type=dbus
BusName=hodr.server.Control
WorkingDirectory=%h/HODR
ExecStart=%h/HODR/hodr
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
Alias=hodr.service