[Unit]
Description=Hodr Service
After=dbus.service network.target

[Service]
Type=dbus
BusName=hodr.server.Control
WorkingDirectory=/home/ru/HODR
ExecStart=/home/ru/HODR/hodr
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
Alias=hodr.service